node_modules
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

# Subgraph
path
data
path
yarn-error.log

# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv file
.env
