node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

# Subgraph
./subgraph/generated
.//subgraph/build
# Matchstick
./path/to/subgraph/tests/.*

data
path
yarn-error.log
