{
  "printWidth": 100,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "bracketSpacing": false,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
